# Serveur
PORT=3000
NODE_ENV=development
CLIENT_URL=http://localhost:3000

# Base de données
DATABASE_URL="postgresql://user:password@localhost:5432/anonyme_db"

# JWT
JWT_SECRET=secret
JWT_EXPIRES_IN=7d

# Email
SMTP_USER=
SMTP_PASS=
EMAIL_FROM=

# Google Gemini
GEMINI_API_KEY=

# URL de base
BASE_URL=http://localhost:3000
